@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
  font-weight: auto;
  font-style: auto;
}

@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: auto;
  font-style: auto;
}


$primary: #9c242d;
$link-color: #1a1a1a;

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*CSS global, header, footer */
html,
body {
  margin: 0;
  padding: 0;
}

* > .file {
  border: none;
}

p {
  font-size: 1.15em;
  text-align: justify;
  line-height: 1.6;
}

footer {
  color: #1a1a1a;
}

footer p {
  font-size: 1em;
}

.site-title {
  text-align: center;
  margin: 0;
  padding-left: .25rem;
  font-size: 1.5em;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


a {
  text-decoration: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.h2 {
  color: #333;
  text-align: left;
  font-size: 3em;
  font-weight: 900;
  padding-top: .5em;
}

.landing-page-title-image > div > img {
  border-radius: 3%;
}

.landing-page-title > h1 {
  text-align: center;
  margin: 0;
  padding-left: .25rem;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.landing-page-title > p {
  text-align: center;
  margin: 10px auto;
  padding-left: .25rem;
  font-size: 1.5em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5em;
  color: black;
  text-transform: none;
  letter-spacing: 0.05em;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.nav-site-select {
  font-weight: 500;
}


